NODE_ENV=development
PORT=5000
WEB_APP_URL=http://localhost:5173

# Postgres — your database connection
DATABASE_URL=

# Discord - keys 
DISCORD_API_BASE=https://discord.com/api/v10
DISCORD_APPLICATION_ID=
DISCORD_CLIENT_ID=
DISCORD_PUBLIC_KEY=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
DISCORD_OAUTH_REDIRECT_URI=